/* CSS Document */
body{
	padding: 50px;
	box-sizing: border-box;
}
.panodefundo{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}
.gradi{
	background-color: #EFA270;
	background-image: -webkit-linear-gradient(45deg, #cc651f, #EFA270) !important;
	background-image: -moz-linear-gradient(45deg, #cc651f, #EFA270) !important;
	background-image: -ms-linear-gradient(45deg, #cc651f, #EFA270) !important;
	background-image: -o-linear-gradient(45deg, #cc651f, #EFA270) !important;
}
.gradi-in{
	background-color: #EFA270;
	background-image: -webkit-linear-gradient(45deg, #EFA270, #cc651f) !important;
	background-image: -moz-linear-gradient(45deg, #EFA270, #cc651f) !important;
	background-image: -ms-linear-gradient(45deg, #EFA270, #cc651f) !important;
	background-image: -o-linear-gradient(45deg, #EFA270, #cc651f) !important;
}
.condesed{
	font-family: 'Roboto Condensed', sans-serif;
}
#oculto{
	display:none;
}
.np{
	padding:0px !important;
}
.nm{
	margin:0px !important;
}
.nr{
	border-radius:0px !important;
}
.clear{
	clear: both;
}
.click{
	cursor:pointer;
}
.suave{
	transition-duration:0.3s;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
	-o-transition-duration:0.3s;
}
.suave:hover{
	transition-duration:0.3s;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
	-o-transition-duration:0.3s;
}
.hover-base{
	overflow:hidden;
	position:relative;
}
.hover{
	width:100%;
	height:100%;
	position:absolute;
	z-index:1;
	background-color:rgba(0,0,0,.4);
	opacity:0;
	transform:scale(0.7,0.7);
	-webkit-transform:scale(0.7,0.7);
	-moz-transform:scale(0.7,0.7);
	-ms-transform:scale(0.7,0.7);
	-o-transform:scale(0.7,0.7);
}
.hover-base:hover .hover{
	opacity:1;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	-ms-transform:scale(1,1);
	-o-transform:scale(1,1);
}
.upper{
	text-transform:uppercase;
}
.btn{
	border-radius: 50px;
}
.btn.transparent{
	border: 2px solid #FFF;
	line-height: 52px;
}
.op, body{
	font-family: 'Open Sans', sans-serif;
}


/****************************************************************************************/

#aMenu{
	width: 70px;
	height: 100%;
	/*border-right: 5px solid #0288d1;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
#aMenu ul{
	height: 350px;
	margin-top: calc(50vh - 170px);
}
#aMenu ul li{
	width: 70px;
	height: 70px;
	position: relative;
}
#aMenu ul li img{
	width:50px;
	margin-top:16px;
}
#aMenu ul li a{
	height:70px;
	display: block;
	color: #263238;
}
#aMenu ul li a:hover{
	background-color: rgba(0,0,0,.1);
}
#aMenu ul li.active{
	background-color: #263238;
}
#aMenu ul li.active a{
	color: #03a9f4;
}
#aMenu ul li i{
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-size: 30px;
}
#aMenu ul li ul{
	height: auto;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 100%;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
#aMenu ul li ul::before{
	content: "";
	width: 20px;
	height: 20px;
	background-color: #03a9f4;
	position: absolute;
	top: calc(50% - 10px);
	right: calc(100% - 10px);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
#aMenu ul li:hover ul{
	visibility: visible;
	opacity: 1;
	left: calc(100% + 20px);
}
#aMenu ul li ul li{
	width: 150px;
	height: auto;
}
#aMenu ul li ul li:hover{
	background-color: rgba(0,0,0,.05);
}
#aMenu ul li ul li a{
	height:auto;
	display: block;
	padding: 10px;
	padding-left: 15px;
	color: #444;
}
#aMenu ul li ul li a:hover{
	background-color: transparent;
	color: white;
}

#aContent{
	width: calc(100% - 70px);
	height: 100%;
	position: absolute;
	right: 0;
}
#aContent .palco{
	width: 60%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
}
#aContent .palco .capa,
#aContent .palco .folha{
	width: 400px;
	height: 500px;
	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 200px);
}
#aContent .palco .capa h3{
	margin: 0;
	height: 80px;
	line-height: 80px;
}
#aContent .palco .capa .imagens{
	width: 360px;
	height: 350px;
	border: 2px dashed #CCC;
	margin: 20px;
	position: relative;
}
#aContent .palco .capa .imagens::after{
	content: "Arraste e Solte as imagens aqui...";
	font-size: 36px;
	font-weight: lighter;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
#aContent .palco .capa h5{
	margin: 0;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}
#aContent .palco .folha{
	overflow: auto;
	padding-left: 100px;
}
#aContent .palco .folha ul{
	display: table;
}
#aContent .palco .folha ul li{
	width: 400px;
	height: 480px;
	display: block;
	float: left;
	padding: 20px;
}
#aContent .palco-suporte{
	width: 40%;
	height: 100%;
	padding: 15px;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
}
#aContent .palco-suporte h6{
	font-size: 18px;
}
#aContent .palco-suporte input,
#aContent .palco-suporte select{
	height: 40px;
	line-height: 40px;
	border-radius: 30px;
	padding-left: 15px;
	box-sizing: border-box;
	box-shadow: none;
	border: 2px solid rgba(255,255,255,.5);
}
#aContent .palco-suporte input::-webkit-input-placeholder{
	color: rgba(255,255,255,.5);
}

#aContent .palco-suporte input:-moz-placeholder{
	color: rgba(255,255,255,.5);
}

#aContent .palco-suporte input::-moz-placeholder{
	color: rgba(255,255,255,.5);
}

#aContent .palco-suporte input:-ms-input-placeholder{
	color: rgba(255,255,255,.5); 
}
#aContent .palco-suporte input:focus,
#aContent .palco-suporte select:focus{
	border-color: white;
}
#aContent .palco-suporte select:focus{
	outline: 0;
}
#aContent .palco-suporte textarea{
	height: calc(100vh - 270px);
	border-radius: 20px;
}
#aContent .palco-suporte ul{
	border: 2px solid rgba(255,255,255,.5);
	overflow: hidden;
	border-radius: 20px;
	margin-top: 0;
}
#aContent .palco-suporte ul li{
	width: 20%;
	height: initial;
	float: left;
	display: block;
}
#aContent .palco-suporte .cor{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#aContent .palco-suporte h6{
	padding-left: 15px;
}
#aContent .palco-suporte .item{
	padding: 10px;
}
#aContent .palco-suporte .item img{
	border-radius: 10px;
	left: 0;
	top: 0;
	cursor: move;
}
#aContent .palco-suporte .btn{
	margin-top: 20px;
	border-radius: 20px;
	height: 40px;
	text-transform: none;
}
#aContent .meuscordeis{}
#aContent .meuscordeis h5{
	padding-left:20px;
}
#aContent .meuscordeis h5 span{
	position:relative;
	display:inline-block;
}
#aContent .meuscordeis h5 span::before{
	content:"";
	width:60px;
	height:6px;
	border-radius:3px;
	background-color: white;
	position:absolute;
	top:13px;
	left:calc(100% + 20px);
}
#aContent .meuscordeis ul{
	padding:0 11px;
}
#aContent .meuscordeis ul li:last-child{
	border: 2px dashed #444 ;
}


@media only screen and ( max-width: 768px ){

}
@media only screen and ( max-width: 480px ){

}



/****************************************************************************************/

.waves-effect.waves-brown .waves-ripple {
	background-color: rgba(121, 85, 72, 0.65);
}

.marrom{
	background-color: #e87e36 !important;
}
.marrom-text{
	color: #e87e36 !important;
}

.geral{
	border-radius: 10px;
}

#cMenu{
	width:100%;
	height:60px;
	/*position:fixed;
	z-index:100;*/
	border-radius: 10px 10px 0 0;
}
#cMenu h1{
	font-size:28px;
	line-height:60px;
}
#cMenu h1 img{
	height:50px;
	margin-top:5px;
	float: left;
	margin-right: 20px;
}
a.btn, span.btn{
	width:100px;
	height:30px;
	line-height:28px;
	border-radius:20px;
	margin-top:15px;
	padding:0;
	text-transform:none;
	text-align:center;
}
span.btn{
	cursor: initial;
}

#cBanner{
	width:100% !important;
	overflow: hidden;
	background-color: white;
}
#cBanner .cordel{
	width: 100%;
	height: 500px !important;
	position: relative;
}
#cBanner .contracapa{
	width: 100%;
	position: absolute;
	z-index: -1;
}
#cBanner .contracapa::before{
	content: "";
	width: 100%;
	height: 560px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.2);
	z-index: 1;
}
#cBanner .contracapa img{
	width: 100%;
	top: 50%;
	transform: translateY(-40%);
	-webkit-transform: translateY(-40%);
	-moz-transform: translateY(-40%);
	-ms-transform: translateY(-40%);
	-o-transform: translateY(-40%);
	filter: blur(20px);
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	-o-filter: blur(20px);
}
#cBanner .col{
	position: relative;
	height: 440px;
}
#cBanner .col img,
#cBanner .col article{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
#cBanner .col article{
	padding-left: 30px;
}
#cBanner h5{
	font-size: 20px;
	margin-bottom: 0;
}
#cBanner a{
	margin-right: 10px;
}

#cCordeis{}
#cCordeis .container{
	position: relative;
	z-index: 5;
	border-radius: 10px 10px 0 0;
	margin-top: -60px;
}
#cCordeis h5{
	font-size: 18px;
	height:60px;
	line-height:60px;
	margin: 0;
	padding-left: 30px;
}
#cCordeis h5 span{
	position:relative;
	display:inline-block;
}
#cCordeis h5 span::before{
	content:"";
	width:60px;
	height:6px;
	border-radius:3px;
	background-color:#039be5;
	position:absolute;
	top:28px;
	left:calc(100% + 20px);
}
#cCordeis ul,
#aContent .meuscordeis ul{
	overflow:hidden;
	padding: 10px;
}
#cCordeis li,
#aContent .meuscordeis li{
	width:calc(20% - 20px);
	float:left;
	margin:10px;
	border: 1px solid #DDD;
	border-radius: 5px 5px 0 0;
}
#cCordeis li a{
	display: block;
	padding-bottom: 10px;
	border-radius: 5px 5px 0 0;
	position: relative;
}
#cCordeis li a::before{
	content: "";
	width: 150px;
	height: 50px;
	border-radius: 50px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 75px);
	z-index: -1;
	box-shadow: 0px 3px 10px rgba(0,0,0,.2);
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
}
#cCordeis li a:hover::before{
	box-shadow: 0px 3px 10px rgba(0,0,0,.5);
}
#cCordeis li .capa,
#aContent .meuscordeis li .capa{
	width:100%;
	position:relative;
}
#cCordeis li .capa img,
#aContent .meuscordeis li .capa img{
	width:100%;
	border-radius: 5px 5px 0 0;
}
#cCordeis li h6,
#aContent .meuscordeis li h6{
	padding:0 10px;
	margin-bottom:0;
}
#cCordeis li span,
#aContent .meuscordeis li span{
	display:block;
	font-size:12px;
	/*color:#cc651f;*/
	color:#444;
	font-weight:bold;
}
#cSobre{
	padding:100px 0;
}
#cSobre .imagem{
	width:100%;
	height:350px;
}
#cRodape{
	padding:20px 0;
	border-radius: 0 0 10px 10px;
}
#cRodape img{
	height:50px;
	margin-bottom:20px;
}
#cRodape span{
	display:block;
}




@media only screen and ( max-width: 768px ){

}
@media only screen and ( max-width: 480px ){

}






















	

